$soft-turquoise: #a2d4c8; // Мягкий бирюзовый
$sand-beige: #d3c1a5; // Песочный бежевый
$cream: #f2e9de; // Кремовый
$deep-teal: #487a7b; // Глубокий темно-бирюзовый
$light-mint: #b8d8d8; // Светлый мятный
$mute-green: #789c92; // Приглушенный зеленый
$cold-grey-blue: #7a9a9b; // Холодный серо-голубой
$soft-blue: #cde0e3; // Нежно-голубой
$dark-blue: #182932; // ფონისთვის მუქი ლურჯი


$base-font-family: 'Noto Sans Georgian';
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;


$html-bg: $soft-turquoise;
$body-bg: $mute-green;
$box-shadow-color: $deep-teal;
html {
  background-color: $html-bg;
  height: 100%;
}

body {
  font-family: $base-font-family;
  background-color: $body-bg; 
  box-shadow: 0 4px 28px 0 $box-shadow-color;
  margin: 1% 2%;
  // overflow: hidden;
  color: $dark-blue;

}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  .person {
    display: grid;
    place-items: center;
    gap: 10px;
    text-align: center;
    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
      box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    }
    h1, h2, h3 {
      margin-top: 0;
      margin-bottom: 2px;
      color: $sand-beige;
    }
  }
  .menu {
    display: grid;
    place-items: center;
    a {
      text-decoration: none;
      font-size: 30px;
    }
  } 
}

